a{
    text-decoration: underline;
    color:#d01012;
}
/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url("../image/p_cus_use_01/p_cus_use_01_bg.jpg")
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h3 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }
.main{
    max-width:1350px;
    margin:auto;
    margin-top:100px;
    font-size:100%;
    margin-bottom:300px;
}
.form_wrapping{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top:10%;
    margin-bottom:10%
}
.order_check_title{
    font-weight: 700;
    font-size:150%;
    color:#006db7
}
form legend{
    font-weight: 700;
}
.ask_form_text{
    margin-top:5%;
    margin-bottom:5%
}
.ask_form_title>h4{
    font-size:200%;
    padding-bottom: 20px;
}
.ask_com_bor{
    border:1px solid black;
    max-width:600px;
}
.ask_com_bor>p{
    padding:20px 30px 20px 30px;
    line-height: 1.5rem;
}
.order_ic_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    margin: auto;
    margin-top:20px;
}
.order_check_icon{
    fill:#006db7;
    padding:10px;
    width:10px;
    height:10px
}
.ask_com_bor input{
    width:98%;
    height:35px;
    font-size:100%;
    display: flex;
    justify-content: center;
}
.check_blue_text{
    font-size:100%;
    color:#006db7;
}
.ask_form_agree_text_small{
    font-size:100%;
    color:#757575
}
.ask_form_sub{
    margin-top:40px;
}
.ask_form_sub>input{
    border:none;
    background:#004f84;
    max-width:600px;
    width: 100%;
    height:60px;
    font-size:200%;
    color:#fff;
    cursor: pointer;
}
.order_check_table{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.order_check_title{
    font-size: 150%;
    color:#006db7;
    font-weight:700;
    margin-top: 30px;
    margin-bottom: 30px
}
.order_check_text{
    width:100%;
    text-align: center;
    color: #006db7;
}
.order_check_table_title{
    font-weight:700;
}
.order_check_table a{
    color:#d01012;
    text-decoration: underline;
}
.order_check_table th{
    padding:30px;
    border: 5px solid #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight:700;
}
.order_check_table td{
    padding:30px;
    border: 5px solid #ffffff;
    text-align: center;
    vertical-align: middle;
}
.ask_loc_table_3{
    background:#f2f7fc;
}
.ask_loc_table_1{
    background:#f2f7fc;
}
.ask_loc_table_2{
    background:#ffffff
}