a{
    text-decoration: none;
    color:#d01012;
}
.cen_text{
    font-size: 150%;
    text-align: center;
    margin:30px
}
.strong_text{
    font-size:150%;
    font-weight: 700;
}
/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url("/image/p_cus_con_02/p_cus_con_02_01.jpg")
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h3 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }
.main{
    max-width: 1350px;
    margin: auto;
    font-size:100%;
    margin-top:100px;
    margin-bottom:300px;
}

.con_nav{
    max-width:900px;
    max-height:176px;
    margin:auto;
    margin-bottom:0px;
}
.con_nav>ul{
    display:flex;
    justify-content: center;
    width:100%;
}
.con_nav a{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    margin:10px;
}

.con_nav_li1>a{
    display: flex;
    background: url("/image/p_cus_con_02/red_button.png") no-repeat center/100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.con_nav_li2>a{
    display: flex;
    background: url("/image/p_cus_con_02/orange_button.png") no-repeat center/ 100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con_nav_li3>a{
    display: flex;
    background: url("/image/p_cus_con_02/yellow_button.png") no-repeat center/ 100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con_nav_li4>a{
    display: flex;
    background: url("/image/p_cus_con_02/green_button.png") no-repeat center/ 100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con_nav_li5>a{
    display: flex;
    background: url("/image/p_cus_con_02/blue_button.png") no-repeat center/ 100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con_nav_li6>a{
    display: flex;
    background: url("/image/p_cus_con_02/purple_button.png") no-repeat center/ 100%;
    width: 15rem;
    height:166px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.direc_wrap{
    width:80%;
    margin:auto
}
.direc_wrap>h4{
    font-size:200%;
    padding:30px;
    color:#006db7;
    text-align: center;
}
.direc{
    position:relative;
    margin-bottom: 30px;
}
.direc_title>a{
    background-color: rgba(0, 109, 183, 0.2);
    color:#006DB7;
    display:block;
    width:100%;
    height:20%;
    box-sizing:border-box;
    align-items: center;
    display: flex;
    font-size:120%;
    padding: 20px 30px 20px 30px;
    justify-content: space-between;
}
.direc_title>a.ac{
    background-color: #f2f7fc!important;
    font-weight:bold;
}
.direc_title_chan{
    background-color: #f2f7fc!important;
    font-weight:bold;
}
.direc_title svg{
    fill:#006DB7;
    width:24px;
    height:15px;
    transition: all 0.2s ease-in;
    transform:rotate(0deg)
}
.direc_text{
    width:100%;
    height:100%;
    background-color: #f2f7fc;
    line-height: 2.5rem;
    top:0px;
    box-sizing: border-box;
    padding: 30px;
    font-size:100%;
    color:#006DB7;
    display: none;
}
.park{
    display: none;
}
.admission{
    display: none;
}
.hotel{
    display: none;
}
.christmas_faq{
    display: none;
}
.winter_faq{
    display: none;
}