a{
    text-decoration: none;
}
.cen_text{
    font-size: 150%;
    text-align: center;
    margin:30px
}
.strong_text{
    font-size:150%;
    font-weight: 700;
}
/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url("/image/p_cus_info_02/p_cus_info_02_01.jpg")
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h3 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }
.main{
    max-width: 1350px;
    margin: auto;
    font-size:100%;
    margin-top:100px;
    margin-bottom:300px;
}
.direc_wrap{
    width:80%;
    margin:auto
}
.direc_wrap>h4{
    font-size:200%;
    padding:30px;
    color:#006db7;
    text-align: center;
}
.direc{
    position:relative;
    margin-bottom: 30px;
}
.direc_title>a{
    background-color: rgba(0, 109, 183, 0.2);
    color:#006DB7;
    display:block;
    width:100%;
    height:20%;
    box-sizing:border-box;
    align-items: center;
    display: flex;
    font-size:120%;
    padding: 20px 30px 20px 30px;
    justify-content: space-between;
}
.direc_title>a.ac{
    background-color: #f2f7fc!important;
    font-weight:bold;
}
.direc_title_chan{
    background-color: #f2f7fc!important;
    font-weight:bold;
}
.direc_title svg{
    fill:#006DB7;
    width:24px;
    height:15px;
    transition: all 0.2s ease-in;
    transform:rotate(0deg)
}
.direc_text{
    width:100%;
    height:100%;
    background-color: #f2f7fc;
    line-height: 2.5rem;
    top:0px;
    box-sizing: border-box;
    padding: 30px;
    font-size:100%;
    color:#006DB7;
    display: none;
}
.ent_mobile{
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width:100%
}
.ent_mobile_text>p{
    padding:3%
}
.ent_mobile_text_plan{
    font-size: 200%;
    font-weight: 700;
    color:#006db7
}
.ent_mobile a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:20%;
    padding: 20px 30px 20px 30px;
    background: #d01012;
    color:#fff;
    font-size:32px;
    margin:auto;
}
.shutle_wrap{
    display: flex;
}
.shutle_text_2{
    margin-left: 100px;
}