a{
    text-decoration: none;
}

/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url("../image/p_cus_info_01/p_cus_info_01_01.jpg")
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h3 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }

.main{
    margin:auto;
    max-width:1350px;
    font-size:100%;
    margin-top:100px;
    margin-bottom:300px;
}
.man_cal{
  margin-top:50px;
  margin-bottom:50px;
  max-width: 1350px;
}
.man_cal>h4{
  font-size:200%;
  font-weight:700;
  color:#006db7;
  margin-bottom:30px;
}
#calendar{
  font-size:150%;
}
.cal_map{
    display:flex;
    justify-content: center;
    max-width:1350px;
    margin: 50px auto 50px;
    background: #f7f7f7;
}
.man_cal_open{
    margin:30px;
    text-align: center;
    line-height: 1.5rem;
}
.man_cal_open>h4{
    font-size:150%;
    font-weight:700;
    color:#006db7
}
.man_cal_open>a{
    color:#d01012
}
.park_map_view{
  margin-top:100px;
  max-width: 1350px;
}
.park_map_view>img{
  width:100%
}
.man_cal_text{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    max-width:1200px;
    line-height: 1.5rem
}
.main>h4{
  font-size:200%;
  font-weight: 700;
  color:#006db7
}
.man_cal_text_wrap a{
    color:#d01012
}
.park_map_down{
    margin:30px;
    text-align: center;
    line-height: 1.5rem;
}
.park_map_view h4{
    font-size:200%;
    font-weight:700;
    color:#006db7;
    margin-bottom:20px;
}
.park_map_down>a{
    color:#d01012
}
.park_map_down img{
    width:15px;
    height:21px;
}
.cal_map_link{
    display:flex;
    justify-content: center;
    max-width:1350px;
    margin: 50px auto 50px;
}