/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url("../image/p_enj_sea_03/p_enj_sea_03_07.png")
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }

.main{
    width:1350px;
    font-size: 100%;
    font-style: normal;
    margin: 100px auto 300px;
}

/* 본문의 내용 flex 공통 */
.cont{
    width: 100%;
    display: flex;
    margin-top: 110px;
    margin-bottom: 5%;
    box-shadow: 2px 3px 5px 0px #666;
}

/* 구매하기 버튼 */
.btn{
    width: 255px;
    height: 60px;
    font-size: 150%;
    background: #d01012;
    color: white;
    border: 0px;
}
.btn:hover{
    background: #8C0008;
    cursor: pointer;
}

/* 본문 이미지 */
.cont01_img{
    width: 40%;
    aspect-ratio: 1/1;
    background: url("../image/p_enj_sea_03/p_enj_sea_03_01.jpg") no-repeat center/ 100%;
}

/* 본문 내용*/
.cont01 > h3{
    margin: 0px;
    width: 100%;
    height: 3em;
    font-size: 200%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    word-break: keep-all;
    box-sizing: border-box;

}

/* 본문내용 노티스 */
.cont01_notice{
    width: 100%;
    height: fit-content;
    background: rgb(255, 213, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    box-sizing: border-box;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 120%;
}
.cont01_notice span {
    font-size: 80%;
    font-weight: 400;
    color: #666;
}

/* 본문 내용 p 설정 통일*/
.cont01 p {
    padding-left: 3rem;
}
.cont01 p span{
    display: block;
    text-indent: 5em;
    word-break: keep-all;
    font-size: 120%;
}
.cont01 p strong {
    white-space: nowrap;
    word-break: keep-all;
    font-size: 120%;
    color: #666;
}

/* 본문 두번째 제목 <map>*/
.cont02 {
    box-shadow: 2px 3px 5px 0px #666;
}
.cont02_title{
    width: 100%;
    display: flex;
}
.page_title2 h1{
    padding: 0px 2rem;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #00a138;
    font-size: 150%;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

/* 본문 두번째 내용 설명 부분 */
.cont02_subTitle{
    width: 100%;
    border-width: 1.5px 0px;
    border-style: solid;
    border-color: #00a138;
    padding: 0px 3rem;
}
.cont02_subTitle p{
    font-size: 120%;
}
/* 본문 두번째 내용 이미지*/
.cont02 img {
    width: 100%;
}