/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url('/image/p_enj_sea_04/p_enj_sea_04_00.jpeg')
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }

.main{
    width:1350px;
    font-size: 16px;
    font-style: normal;
    margin: 100px auto 300px;
}

/* 구매하기 버튼 */
.btn{
    width: 255px;
    height: 60px;
    font-size: 150%;
    background: #d01012;
    color: white;
    border: 0px;
}
.btn:hover{
    background: #8C0008;
    cursor: pointer;
}

/* 본문의 내용 flex 공통 */
.cont{
  width: 85%;  
  margin: 100px auto 0px;
    display: flex;
    box-shadow: 2px 3px 5px 0px #666;
}

/* 본문 이미지 */
.cont > img {
  width: 50%;
}
/* 본문 첫번째 내용 */
.cont01  {
  width: 100%;
}
.cont01 > h3{
  width: 100%;
    height: 3em;
    font-size: 200%;
    margin: 0px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont01 p{
  font-size: 120%;
  font-weight: 500;
  padding: 1em;
  line-height: 4;
}

/* 본문 두번째 내용 이미지*/
.cont01_img02 {
  position: relative;
  margin-top: 50px;
  height: 50vh;
}
.cont01_img02 img{
    width: 500px;
    position: absolute;
    box-shadow: 4px 6px 6px 2px #333;
    border: 5px solid rgba(136, 48, 187, 0.63);
    box-sizing: border-box;
    border-radius: 1rem;
}
.img02_1 {
  top: -10%;
  left: 0px;
  transform: rotateZ(-15deg);
}
.img02_2 {
  top: 0%;
  left: 25%;
  transform: rotateZ(-5deg);
}
.img02_3 {
  top: -20%;
  right: 0px;
  transform: rotateZ(10deg);
}
.img02_4 {
  top: 20%;
  right: 10%;
  transform: rotateZ(5deg);
}