/* 메인전체class */
.main_title {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 메인 이미지 */
  /* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
  .main_title_img {
    background: url(/image/p_enj_sea_01/p_enj_sea_01_00.jpg)
      center/cover no-repeat;
    margin-top: 90px;
    width: 100vw;
  }
  .main_title_img img {
    width: 100vw;
    height: auto;
    display: block;
  }
  /* 메인 타이틀 */
  .main_title_txt {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
    background: #00a138;
    width: fit-content;
    height: 110px;
    opacity: 0.95;
    padding: 0 30px;
  }
  /* 메인 타이틀 텍스트 */
  .main_title_txt > h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    line-height: 110px;
  }

.main{
    width:1350px;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    margin: 100px auto 300px;
}
.main_cont_title {
    display: flex;
}
/* 페이지 설명 부분 */
.page_subTitle{
    width: 650px;
    height: 112px;
    margin: 0 auto;
    margin-top: 100px;
}
.page_subTitle > p{
    border-width: 1.5px 0px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    padding: 1rem 0px;
}
.page_notice{
    width: 650px;
    height: 90px;
    margin: 0 auto;
}
.page_notice p{
    width: 650px;
}
.page_notice a{
    color: red;
}

/* 구매하기 버튼 */
.btn{
    width: 255px;
    height: 60px;
    font-size: 150%;
    background: #d01012;
    color: white;
    border: 0px;
}
.btn:hover{
    background: #8C0008;
    cursor: pointer;
}

/* 시즌오픈 이미지 */
.page_img00{
    width: 700px;
    height: 700px;
    margin: 5% auto;
}
.page_img00 img{
    width: 720px;
    height: 720px;
}

/* 내용 타이틀 */
.main_body h2{
    width: 100%;
    color: white;
    font-size: 200%;
    font-weight: 700px;
}
/* 본문의 내용 flex 공통 */
.cont{
    display: flex;
    margin-top: 10%;
    box-shadow: 2px 3px 5px 0px #666;

}
.cont p {
    padding-left: 3rem;
}
.cont > img {
    width: 30%;
    height: fit-content;
}
.cont h2 {
    background-color: rgb(0, 88, 146);
    width: 100%;
    height: 3em;
    text-indent: 3em;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.cont > div{
    width: 70%;
    padding-bottom: 2rem;
}

/* 테이블 */
.cont_table{
    width: 100%;
    height: 250px;
    color: #0972BA;
}
.cont_table th{
    width: max-content;
}
.cont_table td{
    padding-left: 20px;
}
.cont_table01{
    background: #F2F7FC;
}

/* 페이지 하단 문구*/
.page_last_notice{
    width: 1000px;
    height: 50px;
    margin: 50px auto;
}

.legostar_span1 {
    font-size: 80%;
    color: #666;
}
.legostar_exp {
    padding-left: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.legostar_exp > p {
    width: 50%;
    margin: 0px;
    padding: 1rem 0px;
}