a {
  text-decoration: none;
}
/* 메인전체class */
.main_title {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 메인 이미지 */
/* 이미지는 본인 폴더에 있는 메인 이미지쓰시면 됩니동 */
.main_title_img {
  background: url("/image/p_enj_theme_04/p_enj_theme_04_01.jpg") center/cover
    no-repeat;
  margin-top: 90px;
  width: 100vw;
}
.main_title_img img {
  width: 100vw;
  height: auto;
  display: block;
}
/* 메인 타이틀 */
.main_title_txt {
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
  background: #00a138;
  width: fit-content;
  height: 110px;
  opacity: 0.95;
  padding: 0 30px;
}
/* 메인 타이틀 텍스트 */
.main_title_txt > h3 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  color: #ffff;
  text-align: center;
  line-height: 110px;
}
.main {
  font-size: 100%;
  margin-top: 100px;
  margin-bottom: 300px;
}
@media screen and (min-width: 1125px) {
  .all_att {
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .card_pop {
    width: calc(100% / 3);
    box-sizing: border-box;
  }

  .card {
    border: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.5%;
    position: relative;
    overflow: hidden;
  }
  .card_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  .card img:hover {
    transform: scale(1.05, 1.05);
  }
  .card_body {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .card_body > h5 {
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .show_text {
    color: #d01012;
    font-size: 120%;
    font-weight: 700;
    font-style: normal;
  }
  .card_body p {
    font-size: 100%;
    margin-top: 10px;
  }
  .card_body > button {
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 50%;
    left: 82%;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    max-width: 55px;
    max-height: 41px;
  }
  .card_body > button > img {
    width: 100%;
    height: 100%;
  }
  .card_body > button:hover {
    filter: contrast(0.5); /*흐려짐 대비 흑백*/
  }
  .pop_up {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #ffcf00;
    position: absolute;
    display: none;
    z-index: 10;
    left: 0;
  }
  .pop_up_wrap {
    margin: auto;
    /*width: fit-content;*/
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
  }
  .pop_up_img {
    width: 100%;
    height: 100%;
  }
  .pop_up_img > img {
    width: 100%;
    height: 100%;
  }
  .pop_up_tl {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
  .pop_up_text {
    font-size: 100%;
    font-weight: 500;
    line-height: 30px;
  }
  .pop_up_text > h5 {
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .pop_up_can {
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 105%;
  }
  .pop_up_can:hover {
    filter: contrast(0.5);
  }
  .pop_up_can img {
    width: 64px;
    width: 64px;
  }
  .pop_up_hei {
    display: flex;
  }
  .pop_up_hei_text {
    padding-top: 10px;
  }
  .pop_up_hei_text > p {
    padding-bottom: 15px;
  }
  .pop_up_loc {
    font-size: 100%;
    font-weight: 500;
  }
}
.ent_mobile {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
}
.ent_mobile_text > p {
  padding: 3%;
}
.ent_mobile_text_plan {
  font-size: 200%;
  font-weight: 700;
  color: #006db7;
}
@media screen and (max-width: 1240px) {
  .all_att {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .ad {
    display: none;
  }
  .dd {
    display: none;
  }
  .card_pop {
    width: calc(100% / 2);
    box-sizing: border-box;
  }
  .card {
    border: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.5%;
    position: relative;
  }
  .card_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  .card img:hover {
    transform: scale(1.05, 1.05);
  }
  .card_body {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .card_body > h5 {
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .card_body p {
    font-size: 100%;
    margin-top: 10px;
  }
  .show_text {
    color: #d01012;
    font-size: 150%;
    font-weight: 700;
    font-style: normal;
  }
  .card_body > button {
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 35%;
    left: 83%;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    max-width: 55px;
    max-height: 41px;
  }
  .card_body > button > img {
    width: 100%;
    height: 100%;
  }
  .card_body > button:hover {
    filter: contrast(0.5); /*흐려짐 대비 흑백*/
  }
  .card_body > button > svg {
    background: #ffcf00;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 850px) {
  .all_att {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .ad {
    display: none;
  }
  .dd {
    display: none;
  }
  .card_pop {
    width: 100%;
    box-sizing: border-box;
  }
  .card {
    border: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.5%;
    position: relative;
  }
  .card_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  .card img:hover {
    transform: scale(1.05, 1.05);
  }
  .card_body {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 30px;
    position: relative;
  }
  .card_body {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .card_body > h5 {
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .card_body p {
    font-size: 100%;
    margin-top: 10px;
  }
  .show_text {
    color: #d01012;
    font-size: 150%;
    font-weight: 700;
    font-style: normal;
  }
  .card_body > button {
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 35%;
    left: 83%;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    max-width: 55px;
    max-height: 41px;
  }
  .card_body > button > img {
    width: 100%;
    height: 100%;
  }
  .card_body > button:hover {
    filter: contrast(0.5); /*흐려짐 대비 흑백*/
  }
  .card_body > button > svg {
    background: #ffcf00;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 1124px) {
  .pop_up {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #ffcf00;
    position: absolute;
    display: none;
    z-index: 10;
    left: 0;
  }
  .pop_up_wrap {
    margin: auto;
    /*width: fit-content;*/
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .pop_up_img {
    width: 100%;
    height: 100%;
  }
  .pop_up_img > img {
    width: 100%;
    height: 100%;
  }
  .pop_up_tl {
    width: 100%;
    height: 100%;
    
  }
  .pop_up_text {
    font-size: 100%;
    font-weight: 500;
    line-height: 30px;
  }
  .pop_up_text > h5 {
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pop_up_can {
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 105%;
  }
  .pop_up_can:hover {
    filter: contrast(0.5);
  }
  .pop_up_can img {
    width: 48px;
  }
  .pop_up_hei {
    display: flex;
  }
  .pop_up_hei_text {
    padding-top: 10px;
  }
  .pop_up_hei_text > p {
    padding-bottom: 15px;
  }
  .pop_up_loc {
    font-size: 100%;
    font-weight: 500;
  }
}
