body,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
audio,
h1,h2,h3,h4,h5,h6,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url("/font/Noto_Sans_KR/NotoSansKR-Black.otf") format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/font/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/font/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/font/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/font/Noto_Sans_KR/NotoSansKR-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/font/Noto_Sans_KR/NotoSansKR-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 100;
}

body {
  font-size: max(0.8vw, 12px);
  font-family: "Noto Sans KR", "Sans serif"
};
a {
  text-decoration: none;
  color: inherit;
}
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  z-index: 9000;
}