:root {
    /* length */
    --whole-max-width: 1350px;
    --whole-min-width: 750px;
    --wrap-radial-px: 60px;
    --wrap-width-percent: 90%;
    /* color */
    --exp-color: #585757c9;
    --main-bg-color: #ffcf00;
    --title-text-bg-color: rgba(49, 161, 224, 0.8);
    --list-bg-color01 : rgba(228, 54, 41, 0.6);
    --list-bg-color02 : rgba(43, 43, 180, 0.6);
    --list-bg-color03 : rgba(22, 165, 22, 0.6);
    --list-bg-color04 : rgba(255, 255, 59, 0.6);
    /* common colors */
  --color-blue2: #0046b6;
  --color-blue3: #00aaff;
  --color-light-yellow: #f1e3b8;
  --color-orange: #ff6f00;
  --color-black: #000000;
  --color-green: #00a138;
  --color-yellow: #f9cf13;
  --color-dark-yellow: #ffc400;
    }
/* common elements=============================================================== */
body {margin: 0px;padding: 0px; font-size: 0.8vw; font-family: "Noto Sans KR", "Sans serif";}
ul {list-style: none;padding: 0px;margin: 0px;}
a {text-decoration: none; color: initial;}
h1,h2,h3,h4,h5,h6 {margin: 0px;}

/* number input 버튼 숨기기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type='number'] { appearance: textfield; }

/* main ----------------------------------------------------------------- */
main {
    background-color: var(--main-bg-color);
    padding-top: 10vh;
}
.mainWrap {
    width: 100%;
    overflow: auto;
}
/* loadingWrap ------------------------------------------------------------ */
.loadingWrap {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
.loadingWrap strong {
    font-size: 200%;
    font-weight: bold;
    padding-top: 3rem;
}
.blockWrap {
    display: flex;
}
.loading_block {
    width: 5vw;
    aspect-ratio: 2 / 1;
    background-color: white;
    position: relative;
    box-shadow: 1px 2px 4px 0px #666;
}
.loading_block::before {
    content: "";
    display: block;
    height: 20%;
    aspect-ratio: 2/1;
    background-color: inherit;
    position: absolute;
    top: -20%;
    left: 15%;
    box-shadow: inherit;
    z-index: -1;
}
.loading_block::after {
    box-shadow: inherit;
    z-index: -1;
    content: "";
    display: block;
    height: 20%;
    aspect-ratio: 2/1;
    background-color: inherit;
    position: absolute;
    top: -20%;
    right: 15%;
}
/* title ------------------------------------------------------------ */
.title_wrap {
    width: 100%;
    height: 33vh;
    overflow: auto;
    background: url("/image/t_use_char01/background01_sizeup.png") scroll no-repeat center/cover;
}
.title {
    max-width: var(--whole-max-width);
    width: 100%;
    margin: auto;
}
.title_text_wrap {
    width: fit-content;
    height: 110px;
    background-color: #00a138;
    margin: 6.5rem 0px 5.5rem;
    color: white;
    padding: 0px 30px;
    opacity: 0.95;
    box-sizing: border-box;
}
.title_text_wrap h3 {
    font-size: 48px;
    height: 100%;
    line-height: 110px;
    position: relative;
    word-break: keep-all;
    white-space:nowrap;
}
/* 구매하기 버튼들 --------------------------------------------------------- */
.tickets {
    width: var(--whole-max-width);
    min-width: var(--whole-min-width);
    background-color: var(--main-bg-color);
    margin: auto;
    padding: 5% 0px;
    position: relative;
    display: flex;
    gap: 10%;
}
.t_list {
    position: relative;
    width: calc(100% * 3/4);
    box-sizing: border-box;
}
.t_r_list {
    position: relative;
    width: calc(100% / 4);
    box-sizing: border-box;    
}
.t_list h4,
.t_r_list h4 {
    padding-bottom: 50px;
    font-size: 150%;
    position: relative;
}
.t_list h4::after,
.t_r_list h4::after {
    content: "";
    display: block;
    width: calc(100% - 8px);
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0, 0.3), transparent);
    position: absolute;
    bottom: 35px;
    left: 4px;
}
.list_ul_wrap{
    background: url("/image/t_use_char01/entrance_korea_0729.jpg") no-repeat top left/ cover;
    display: flex;
    height: fit-content;
}
.t_r_list_ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    background: url("/image/t_use_char01/entrance_korea_0729.jpg") no-repeat top right/ cover;
}
.list_ul {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.list_u_li {
width: 100%;
aspect-ratio: 1 / 0.4;          
position: relative;
border: 4px solid var(--main-bg-color);
box-sizing: border-box;
transition: .3s ease;
}
.list_u_li_empty {
width: 100%;
aspect-ratio: 1 / 0.4;          
position: relative;
background-color: var(--main-bg-color);
}
.list_ul .list_u_li > a:hover,
.t_r_list_ul .list_u_li > a:hover {
background: rgba(0, 128, 0, 0.3);
color: #eee;
}

.list_u_li >a {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
font-size: 120%;
font-weight: 600;

box-sizing: border-box;
box-shadow: 2px 1px 3px 0px #66666671;
word-break: keep-all;
transition: .3s ease;
background-color: white;
}
/* ------------------------- */

.t_list_ul >li>a {
    background: rgb(255, 187, 187);
}
.list_ul_annual >li>a {
    background: #ffb07c;
}
/* ----- */

.list_u_li >.dated_tc {
background: red url("/image/t_use_char01/boy-jumping.webp") no-repeat left top /60%;
}
.list_u_li >.daytime_tc {
background-color: var(--color-green);
}
.list_u_li >.vip_tc {
background: var(--color-blue3) url('/image/t_use_char01/adult_lego.png') no-repeat center top -70%/ 80%;
}
.list_u_li >.annual_tc {
background-color: var(--color-orange);
}
.list_u_li >.season_tc {
background-color: rgb(224, 125, 216);
}
.list_u_li > .hotel_tc {
background: rgb(5, 218, 182) url('/image/t_use_char01/llm_family.webp') no-repeat right -30% top/60%;
}
/* 클릭 시 팝업창 ---------------------------------------------------- */
.list_exp {
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
backdrop-filter: blur(2px);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
line-height: 1.5;
}

.list_exp_wrap {
width: 40%;
position: relative;

background-color: rgba(255,255,255);
box-shadow: 4px 4px 6px #3333336b;
border-radius: 30px;
color: black;
overflow: hidden;
}
.l_e_w_text dt {
    padding: 0.5em 0px;
}
.l_e_w_text table {
    margin: 1rem 0px;
}
.l_e_w_text dd {
    text-indent: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}
.l_e_w_text {
width: 100%;
max-height: 60vh;
overflow-y: auto;
padding: 20px 10%;
box-sizing: border-box;
}
.l_e_w_text th {
    border: 1px solid #666;
    font-size: 90%;
    white-space: nowrap;
    word-break: keep-all;
}
.l_e_w_text td {
    border: 1px solid #666;
    word-break: keep-all;
    white-space: nowrap;
    box-sizing: border-box;
}
.l_e_w_text tr td:nth-child(1) {
    height: 3rem;
    background-color: #ddd;
    padding: 0px 50px;
}
.l_e_w_text tr td:nth-child(2),
.l_e_w_text tr td:nth-child(3) {
    height: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: var(--main-bg-color);
}
.list_exp h5 {
padding: 30px 0px 20px 50px;
font-size: 150%;
background: transparent url("/image/t_use_char01/footer-silhouette.svg") no-repeat right bottom/ 60%;
}
.list_exp ul {
list-style: circle;
padding-left: 30px;
}
.list_exp li {
    padding: 5px 0px;
}
.close_exp {
display: block;
width: 30px;
height: 30px;
background: rgba(255, 255, 255, 0.8) url("/image/t_use_char01/close_button.png") no-repeat center/ 100%;
border-radius: 50%;

position: absolute;
top: 20px;
right: 20px;
}
.btnBox {
display: flex;
flex-direction: row-reverse;
gap: 30px;
align-items: center;
padding: 30px 60px;
}
.gotoreser {
display: block;
padding: 10px 30px;
font-size: 100%;
font-weight: bolder;
color: white;
background-color: rgb(255, 133, 33);
border-radius: 10px;
transition: .3s ease;
}
.gotoreser:hover {
    background-color: royalblue;
}
.gotoexp {
    padding: 5px 20px 5px 0px;
    font-size: 90%;
    background: url("/image/t_use_char01/arrow_forward.png") no-repeat right center / 15px;
    opacity: 0.8;
}
.gotoexp:hover {
    text-decoration: underline;
}
