/* common */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: underline;
}
.btn {
  display: block;
  color: #fff;
  border: 1px solid red;
  background-color: red;
  width: 200px;
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}
.btn:hover {
  display: block;
  border: 1px solid rgb(130, 0, 0);
  background-color: rgb(130, 0, 0);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 1350px;
  height: 100%;
  margin: 0 auto;
}
body header .top {
  background-color: transparent;
  transition: background-color .25s;
}
body header .top.open {
  background-color: #ffcf00;
  transition: background-color .25s;
}
/* common */

/* MAIN */
main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}
main .swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* main > advance ticket */
main .ticket {
  position: relative;
  background-image: url('../../image/bg_image/1.png');
  background-position: center;
  background-size: cover;
}
main .ticket .ticktype {
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .ticket .ticktype .type {
  width: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
}
main .ticket .ticktype .type .secter {
  width: 355px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
main .ticket .ticktype .type .secter .image {
  width: 355px;
  height: 355px;
  box-sizing: border-box;
  overflow: hidden;
}
main .ticket .ticktype .type .secter .image img {
  width: 355px;
  height: 355px;
}
main .ticket .ticktype .type:hover .secter .image img {
  transition: .2s;
  transform: scale(1.05);
}
main .ticket .ticktype .type .secter .price {
  width: 100px;
  height: 100px;
  font-size: 16px;
  color: #fff;
  padding: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  position: absolute;
  top: 0;
  right: 0;
}
main .ticket .ticktype .type .secter .ticket_title {
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0 0 15px;
  text-align: start;
}
main .ticket .ticktype .type .secter .ticket_sub {
  margin: 15px 0 30px 15px;
  text-align: start;
  font-size: 16px;
  line-height: 1.5;
}
main .ticket .ticktype .type .secter .ticket_btn {
  display: block;
  color: #fff;
  margin: 0 0 0 auto;
  border: 1px solid red;
  background-color: red;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}
main .ticket .ticktype .type:hover .secter .ticket_btn {
  border: 1px solid rgb(130, 0, 0);
  background-color: rgb(130, 0, 0);
}
/* main > advance ticket */

/* main > promotion */
main .promotion {
  position: relative;
  background-image: url('../../image/bg_image/2.png');
  background-position: center;
  background-size: cover;
}
main .promotion .promo {
  width: 1440px;
  height: 84%;
  position: absolute;
  top: 70px;
  left: 230px;
}
main .promotion .promo .slider-wrap-promotion {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .promotion .promo .slider-wrap-promotion .slick-arrow {
  color: #006db7;
  font-size: 50px;
  margin: auto;
  cursor: pointer;
}
main .promotion .promo .slider-wrap-promotion .slick-arrow:hover {
  color: #31a1e0;
}
main .promotion .promo .slider-wrap-promotion .slick-dots {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 48%;
  margin: 0;
  padding: 0;
}
main .promotion .promo .slider-wrap-promotion .slick-dots li button {
  background-color: transparent;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  content-visibility: hidden;
  border: 1px solid #aaa;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
main .promotion .promo .slider-wrap-promotion .slick-dots li.slick-active button {
  background-color: #0046b6;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  content-visibility: hidden;
  box-shadow: none;
  border-radius: 10px;
  outline: none;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion {
  width: 1000px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__image {
  width: 600px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
} 
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__description {
  width: 550px;
  height: 540px;
  text-align: start;
  padding: 30px;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__description .pro__text1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  display: block;
  margin-bottom: 50px;
  color: #00cb6e;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__description .pro__text2 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__description .pro__btn {
  display: block;
  color: #fff;
  border: 1px solid red;
  background-color: red;
  width: 200px;
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}
main .promotion .promo .slider-wrap-promotion .cont_promotion .promotion__description .pro__btn:hover {
  display: block;
  border: 1px solid rgb(130, 0, 0);
  background-color: rgb(130, 0, 0);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main > promotion */

/* main > instagram */
main .instagram {
  background-image: url('../../image/bg_image/3.png');
  background-position: center;
  background-size: cover;
}
main .instagram .inner {
  position: relative;
}
main .instagram .insta {
  width: 1350px;
  height: 700px;

  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 
    300px
    300px
  ;
  column-gap: 7px;
  row-gap: 7px;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 150px;
}
main .instagram .insta .item {
  width: 300px;
  height: 300px;
  position: relative;
}
main .instagram .insta .item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 600px;
  height: 600px;
}
main .instagram .insta .item .image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  transition: all .3s;
}
main .instagram .insta .item:hover .image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  background-color: #000;
}
main .instagram .insta .item:nth-child(1) .image{ 
  width: 600px;
  height: 600px;
}
main .instagram .insta .item img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transition: all .3s;
}
main .instagram .insta .item:hover img {
  opacity: .5;
}
main .instagram .insta .item .text {
  display: none;
  color: #fff;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .3s;
}
main .instagram .insta .item:hover .text {
  display: flex;
}
main .instagram .insta .item:nth-child(1) img {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}
/* main > instagram */

/* main > youtube */
main .youtube {
  position: relative;
  background-image: url('../../image/bg_image/4.png');
  background-position: center;
  background-size: cover;
}
main .youtube .tube {
  width: 1440px;
  height: 84%;
  position: absolute;
  top: 70px;
  left: 230px;
  margin-top: 40px;
}
main .youtube .tube .slider-wrap-youtube {
  display: flex;
}
main .youtube .tube .slider-wrap-youtube .slick-arrow {
  color: #006db7;
  font-size: 50px;
  margin: auto;
  cursor: pointer;
  flex-grow: 1;
}
main .youtube .tube .slider-wrap-youtube .slick-arrow:hover {
  color: #31a1e0;
}
main .youtube .tube .slider-wrap-youtube .slick-dots {
  display: flex;
  position: absolute;
  bottom: -50px;
  left: 46.5%;
  margin: 0;
  padding: 0;
}
main .youtube .tube .slider-wrap-youtube .slick-dots li button {
  background-color: transparent;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  content-visibility: hidden;
  border: 1px solid #aaa;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
main .youtube .tube .slider-wrap-youtube .slick-dots li.slick-active button {
  background-color: #0046b6;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  content-visibility: hidden;
  box-shadow: none;
  border-radius: 10px;
  outline: none;
}
main .youtube .tube .slider-wrap-youtube .cont_youtube {
  flex-grow: 1;
}
/* main > youtube */
body footer {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  background-color: transparent;
}
