/* COMMON */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: dashed;
}
.inner {
  width: 1350px;
  height: 100%;
  margin: 0 auto;
}
/* COMMON */

/* HEADER */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: height .5s;
}
header.open {
  height: 880px;
  z-index: 2;
  transition: height .5s;
}
header .top {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcf00;
}
header .top.open {
  background-color: #ffcf00;
}
header .top .menu_icon {
  font-size: 50px;
  color: #fff;
  margin-left: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
header .top .menu_icon:hover { 
  color: rgba(51, 51, 51, 1);
}
header .top .logo {
  width: 9%;
  height: 100%;
  padding-left: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 30%;
}
header .top .logo img {
  width: 163px;
  height: 70px;
}
header .bottom {
  width: 100%;
  height: 0%;
  background-color: #fff;
  overflow: hidden;
  transition: height .5s;
}
header .bottom.open {
  height: 100vh;
  z-index: 3;
  transition: height .5s;
}
header .bottom .category .inner {
  display: flex;
  justify-content: center;
}
header .bottom .category .select {
  width: 40%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
  box-sizing: border-box;
  cursor: pointer;
}
header .bottom .category .select_1 {
  background-color: transparent;
}
header .bottom .category .select_2 {
  background-color:#ffcf00;
}
header .bottom .category .buy {
  width: 20%;
  margin: auto;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
  background-color: red;
}
header .bottom .category .buy:hover {
  background-color: #d01012;
}
header .bottom .menu {
  box-sizing: border-box;
}
header .bottom .menu .inner {
  position: relative;
}
header .bottom .menu .park_menu {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}
header .bottom .menu .park_menu.active {
  display: flex;
}
header .bottom .menu .park_menu > li {
  width: 500px;
  height: 550px;
  margin: 0 10px;
}
header .bottom .menu .park_menu li .park_1_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
header .bottom .menu .park_menu li .park_2 .park_2_title {
  font-size: 21px;
  font-weight: 900;
  margin: 30px 0 30px 0;
}
header .bottom .menu .park_menu li .park_2 .park_3 {}
header .bottom .menu .park_menu li .park_2 .park_3 li {
  margin: 10px 0;
}
header .bottom .menu .park_menu li .park_2 .park_3 li a {
  font-size: 16px;
}
header .bottom .menu .hotel_menu {
  display: none;
  width: 100%;
  padding: 50px 0;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 2;
}
header .bottom .menu .hotel_menu.active {
  display: flex;
}
header .bottom .menu .hotel_menu > li {
  width: 500px;
  height: 550px;
  margin: 0 10px;
}
header .bottom .menu .hotel_menu li .hotel_1_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
header .bottom .menu .hotel_menu li .hotel_2 > li > .hotel_2_title {
  display: block;
  font-size: 21px;
  font-weight: 900;
  margin: 30px 0 30px 0;
}
header .bottom .menu .hotel_menu li .hotel_2 .hotel_3 {}
header .bottom .menu .hotel_menu li .hotel_2 .hotel_3 li {
  margin: 10px 0;
}
header .bottom .menu .hotel_menu li .hotel_2 .hotel_3 li a {
  font-size: 16px;
}
/* HEADER */

/* main */
.main {
  margin-top:100px;
  margin-bottom:300px;
}
main section {
  width: 1440px;
  height: 100%;
  margin: auto;
}
main section .terms {
  margin: 150px 0 100px 0;
  padding: 0 20px;
}
main section .terms h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #006db7;
}

/* list */
main section .terms .list {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .list ul {
  list-style-type: disc;
  margin-left: 50px;
}
/* list */

/* contents__1 */
main section .terms .contents__1 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__1 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__1 p {
  margin: 20px 0;
}
/* contents__1 */

/* contents__2 */
main section .terms .contents__2 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__2 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__2 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__2 ul li {
  margin: 10px 0;
}
/* contents__2 */

/* contents__3 */
main section .terms .contents__3 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__3 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__3 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__3 ul li {
  margin: 10px 0;
}
/* contents__3 */

/* contents__4 */
main section .terms .contents__4 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__4 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__4 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__4 ul li {
  margin: 10px 0;
}
main section .terms .contents__4 ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}
main section .terms .contents__4 ul li ul li {
  margin: 5px 0;
}
/* contents__4 */

/* contents__5 */
main section .terms .contents__5 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__5 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__5 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__5 ul li {
  margin: 10px 0;
}
/* contents__5 */

/* contents__6 */
main section .terms .contents__6 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__6 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__6 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__6 ul li {
  margin: 10px 0;
}
main section .terms .contents__6 ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}
main section .terms .contents__6 ul li ul li {
  margin: 5px 0;
}
/* contents__6 */

/* contents__7 */
main section .terms .contents__7 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__7 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__7 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__7 ul li {
  margin: 10px 0;
}
main section .terms .contents__7 ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}
main section .terms .contents__7 ul li ul li {
  margin: 5px 0;
}
/* contents__7 */

/* contents__8 */
main section .terms .contents__8 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__8 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__8 p {
  margin: 20px 0;
}
main section .terms .contents__8 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__8 ul li {
  margin: 10px 0;
}
/* contents__8 */

/* contents__9 */
main section .terms .contents__9 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__9 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__9 p {
  margin: 20px 0;
}
main section .terms .contents__9 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__9 ul li {
  margin: 10px 0;
}
/* contents__9 */

/* contents__10 */
main section .terms .contents__10 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__10 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__10 p {
  margin: 20px 0;
}
main section .terms .contents__10 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__10 ul li {
  margin: 10px 0;
}
/* contents__10 */

/* contents__11 */
main section .terms .contents__11 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__11 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__11 p {
  margin: 20px 0;
}
/* contents__11 */

/* contents__12 */
main section .terms .contents__12 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__12 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__12 p {
  margin: 20px 0;
}
main section .terms .contents__12 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__12 ul li {
  margin: 10px 0;
}
main section .terms .contents__12 ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}
main section .terms .contents__12 ul li ul li {
  margin: 5px 0;
}
/* contents__12 */

/* contents__13 */
main section .terms .contents__13 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__13 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__13 p {
  margin: 20px 0;
}
main section .terms .contents__13 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__13 ul li {
  margin: 10px 0;
}
/* contents__13 */

/* contents__14 */
main section .terms .contents__14 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__14 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__14 p {
  margin: 20px 0;
}
main section .terms .contents__14 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__14 ul li {
  margin: 10px 0;
}
/* contents__14 */

/* contents__15 */
main section .terms .contents__15 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__15 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__15 p {
  margin: 20px 0;
}
main section .terms .contents__15 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__15 ul li {
  margin: 10px 0;
}
/* contents__15 */

/* contents__16 */
main section .terms .contents__16 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__16 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__16 p {
  margin: 20px 0;
}
main section .terms .contents__16 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__16 ul li {
  margin: 10px 0;
}
/* contents__16 */

/* contents__17 */
main section .terms .contents__17 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__17 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__17 p {
  margin: 20px 0;
}
main section .terms .contents__17 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__17 ul li {
  margin: 10px 0;
}
/* contents__17 */

/* contents__18 */
main section .terms .contents__18 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__18 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__18 p {
  margin: 20px 0;
}
main section .terms .contents__18 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__18 ul li {
  margin: 10px 0;
}
/* contents__18 */

/* contents__19 */
main section .terms .contents__19 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__19 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__19 p {
  margin: 20px 0;
}
main section .terms .contents__19 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__19 ul li {
  margin: 10px 0;
}
/* contents__19 */

/* contents__20 */
main section .terms .contents__20 {
  width: 100%;
  margin: 50px auto;
  font-size: 16px;
  line-height: 1.3;
}
main section .terms .contents__20 h3 {
  font-size: 32px;
  margin: 20px 0;
}
main section .terms .contents__20 p {
  margin: 20px 0;
}
main section .terms .contents__20 ul {
  list-style-type: decimal;
  margin-left: 30px;
}
main section .terms .contents__20 ul li {
  margin: 10px 0;
}
/* contents__20 */

/* main */

/* footer */
footer {
  width: 100%;
  height: 10%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
footer .foot_section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot {
  display: flex;
  color:#555;
  box-sizing: border-box;
}
footer .foot_section .foot li {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
footer .foot_section .foot li:last-child {
  margin-right: 0;
}
footer .foot_section .foot li span, 
footer .foot_section .foot li a {
  color:#555;
}
footer .foot_section .foot li span:hover,
footer .foot_section .foot li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer .foot_section .foot_1 {
  width: 40%;
  justify-content: flex-start;
  margin-left: 35px;
}
footer .foot_section .foot_2 {
  width: 20%;
  justify-content: center;
}
footer .foot_section .foot_2 li {
  width: 40px;
  height: 40px;
}
footer .foot_section .foot_2 li a {
  width: 40px;
  height: 40px;
}
footer .foot_section .foot_2 li #popup_open_btn_3 { 
  width: 40px;
  height: 40px;
  background-color: #ea4335;
  border: 1px solid #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot_2 li #popup_open_btn_3 svg {
  color: #fff;
}
footer .foot_section .foot_2 li .app_store,
footer .foot_section .foot_2 li .play_store {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot_2 li span img {
  color: #fff;
}

footer .foot_section .foot_3 {
  width: 40%;
  justify-content: flex-end;
  margin-right: 35px;
}
/* footer */


/* Modal Pop-up */

/* LEGOLAND® Korea Resort 모달 팝업 */
#my_modal_1 {
  display: none;
  width: 1300px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_1 p.logo {
  margin: 40px 0;
  padding-left: 28%;
  box-sizing: border-box;
}
#my_modal_1 p {
  margin: 10px 0;
  line-height: 1.5;
}
#my_modal_1 .modal_close_btn_1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_1 .modal_close_btn_1:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* LEGOLAND® Korea Resort 모달 팝업 */

/* Other LEGOLAND® Parks 모달 팝업 */
#my_modal_2 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_2 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_2 ul {
  margin-top: 30px;
}
#my_modal_2 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_2 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_2 ul li a:hover {
  text-decoration: underline;
}
#my_modal_2 .modal_close_btn_2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_2 .modal_close_btn_2:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Other LEGOLAND® Parks 모달 팝업 */

/* newsletter 모달 팝업 */
#my_modal_3 {
  display: none;
  width: 1000px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_3 form h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
#my_modal_3 form p {
  margin-bottom: 30px;
  line-height: 1.5;
}
#my_modal_3 form p input {
  width: 570px;
  height: 30px;
  padding: 5px;
  margin: 10px 0 0 0;
}
#my_modal_3 form .sub_btn button {
  display: block;
  font-size: 20px;
  width: 570px;
  height: 40px;
  padding: 0 auto;
  text-align: center;
  background: #006db7;
  color: #fff;
  border: 0;
}
#my_modal_3 .modal_close_btn_3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_3 .modal_close_btn_3:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* newsletter 모달 팝업 */

/* policy 모달 팝업 */
#my_modal_4 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_4 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_4 ul {
  margin-top: 30px;
}
#my_modal_4 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_4 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_4 ul li a:hover {
  text-decoration: underline;
}
#my_modal_4 .modal_close_btn_4 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_4 .modal_close_btn_4:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* policy 모달 팝업 */

/* Terms & Conditions 모달 팝업 */
#my_modal_5 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_5 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_5 ul {
  margin-top: 30px;
}
#my_modal_5 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_5 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_5 ul li a:hover {
  text-decoration: underline;
}
#my_modal_5 .modal_close_btn_5 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_5 .modal_close_btn_5:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Terms & Conditions 모달 팝업 */

/* Our Company 모달 팝업 */
#my_modal_6 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_6 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_6 ul {
  margin-top: 30px;
}
#my_modal_6 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_6 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_6 ul li a:hover {
  text-decoration: underline;
}
#my_modal_6 .modal_close_btn_6 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_6 .modal_close_btn_6:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Our Company 모달 팝업 */

/* Modal Pop-up */
